<h2>{{title}} </h2>
<form action="/productos" method="post">
	<label for="title">Nombre</label>
	<input id="input-name" type="text" style="display: block;" name="title" placeholder="name">
	<label for="price">Precio</label>
	<input id="input-price" type="number" style="display: block;" name="price" placeholder="price">
	<label for="thumbnail">Imagen{{jeje}}</label>
	<input placeholder="url" id="input-thumbnail" type="text" style="display: block;" name="thumbnail">
	<button type="submit" style="margin-top: 2rem">Enviar</button>
</form>
<a href=/productos">Ver productos</a>